@import url('https://fonts.googleapis.com/css?family=Peralta&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #54576E;
    color: #fff;
}

.banner {
    font-family: 'Peralta', cursive;
    font-size: 4rem;
    padding: 20px;
    text-align: center;
    background-color: #F7836C;
    color: #000;
}

